<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smarthome</title>
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page" data-theme="a">
        <div data-role="header" data-position="inline">
            <h1>Saklar Lampu</h1>
        </div>
        <div data-role="content" data-theme="a" style="padding: 2em;">
            <form>
                <div class="ui-field-contain">
                    <label for="lampu-1">Lampu taman:</label>
                    <select name="lampu-1" id="lampu-1" data-role="flipswitch" onchange="relay_push(1)">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select>
                </div>
                <div class="ui-field-contain">
                    <label for="lampu-2">Lampu kamar 1:</label>
                    <select name="lampu-2" id="lampu-2" data-role="flipswitch" onchange="relay_push(2)">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select>
                </div>
                <div class="ui-field-contain">
                    <label for="lampu-3">Lampu kamar 2:</label>
                    <select name="lampu-3" id="lampu-3" data-role="flipswitch" onchange="relay_push(3)">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select>
                </div>
                <div class="ui-field-contain">
                    <label for="lampu-4">Lampu ruang tamu:</label>
                    <select name="lampu-4" id="lampu-4" data-role="flipswitch" onchange="relay_push(4)">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/socket");

            relay_push = function(nomor){
                socket.emit('relay', {'relay': nomor});
            }

            socket.on('relay', function(msg) {
                 console.log(msg.relay);
            });

            socket.on('relay_data', function(msg) {
                 console.log(msg);
            });

        });
    </script>
</body>
</html>